body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "proxima-nova-soft", sans-serif;
  -webkit-user-select: none;
  user-select: none;
  user-select: none;
  overflow: hidden;
}
body .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
body .vertical-centered-box:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
body .vertical-centered-box .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
* {
  transition: all .3s;
}
body {
  background: #2c2d44;
}
#particles-background, #particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(.5,.5,1);
}
#particles-background {
  background: #2c2d44;
  background-image: -moz-linear-gradient(45deg,#3f3251 2%,#002025 100%);
  background-image: -webkit-linear-gradient(45deg,#3f3251 2%,#002025 100%);
  background-image: linear-gradient(45deg,#3f3251 2%,#002025 100%);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
@keyframes fade {
  0% {
    opacity: 1;
 }
  50% {
    opacity: 0.25;
 }
}
@keyframes fade-in {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}

.wrapper {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;

  --bg-color-alt: #666;
  --main-color: #5E5BC2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25%;
}

.switch {
  cursor: pointer;
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  /* White color before switch */
  transition: 0.3s;
}

.slider:before {
  background-color: (var(--main-color));
  /* Highlighted to primary color before switch */
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: white;
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.slider:after {
  content: "";
  position: absolute;
  width: 20px;
  top: 0;
  font-weight: 600;
  background-color: white;
}


.flip-control {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

/* card */

.card-switch {
  perspective: 1000px;
}

.card-switch.flipped .flip-card__inner {
  transform: rotateY(180deg);
}

.card-side::before,
.card-side::after {
  position: absolute;
  width: 100px;
  top: 0;
  font-weight: 600;
}


.card-side::before {
  position: absolute;
  width: 100px;
  top: 0;
  font-weight: 600;
  content: 'Log in';
  left: -80px;
  top: 0;
  text-decoration: underline;
  color: (var(--main-color));
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: 'Sign up';
  left: 40px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: (var(--main-color));
  font-weight: 600;
}


.flipped .slider:before {
  background-color: white;
  /* White color after switch */
  transform: translateX(30px);
  /* Move to the right when flipped */
}

.flipped .slider {
  background-color: var(--main-color);
  /* Highlighted to primary color after switch */
}

/* card */

.card-switch {
  perspective: 1000px;
}

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card__front,
.flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(17, 24, 39, 1);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5), 2px 2px 2px rgba(17, 24, 39, 0);


}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: #1b1239;
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  /* White color */
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: white;
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* margin: 50px auto 0 auto; */
  padding: auto 15px 15px auto;
  margin: 20px 0 20px 0;
  width: 260px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: white;
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.flip-card__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #5E5BC2;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.flip-card__btn:hover {
  color: #e8e8e8;
}

.flip-card__btn:hover::before {
  width: 100%;
}


.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid black;
  background-color: #1b1239;
  box-shadow: 4px 4px var(--main-color);
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.button-log:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.forgot {
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  color: #5E5BC2;
}



.forgot a {
  color: #5E5BC2;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


.separator span {
  color: #5E5BC2;
}

.separator>div {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: #5E5BC2;
}

.lower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card__back_reset {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(17, 24, 39, 1);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back_reset {
  width: 100%;
  transform: rotateY(180deg);
}