.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up,
.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1,
.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: "white";
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.instagram {
  fill: #5e5bc2;
}

.bi-bi-github {
  fill: #5e5bc2;
}

.card3 {
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.card1:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #5e5bc2;
}

.card1:hover .instagram {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #5e5bc2;
}

.card3:hover .bi-bi-github {
  fill: white;
}
