.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up,
.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1,
.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: "white";
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.instagram {
  fill: #5e5bc2;
}

.bi-bi-github {
  fill: #5e5bc2;
}

.card3 {
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.card1:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #5e5bc2;
}

.card1:hover .instagram {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #5e5bc2;
}

.card3:hover .bi-bi-github {
  fill: white;
}


:host {
  all: initial;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(203, 213, 225, 1) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(203, 213, 225, 1);
  border-radius: 3px;
  border: 0;
}

.quick-apply-button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  border: none;
  line-height: 1.4;
  color: white;
  transition: background-color 0.15s ease-in-out;


  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #0a6cc2;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
}

.quick-apply-button:hover {
  background: #084c87;
  text-decoration: none;
}

.quick-apply-button:focus {
  outline: none;
}

.quick-apply-button+* {
  margin-left: 15px;
}

*+.quick-apply-button {
  margin-left: 15px;
}


.quick-apply-button img {
  margin-right: 8px;
  height: 24px;
  /* equivalent to h-6 */
}




.loader {
  margin: 0 auto;
  display: flex;
  width: 24rem;
  height: 24rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 0.4rem solid #52c5ff;
  background-color: #212121;
}




.container[class*="1"] {
  animation-delay: 1s;
}

.container[class*="2"] {
  animation-delay: 1.3s;
}

.container[class*="3"] {
  animation-delay: 1.6s;
}

.container[class*="4"] {
  animation-delay: 1.9s;
}

.tars {
  z-index: 0;
  position: absolute;
  height: 100px;
  width: 130px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform-style: preserve-3d;
  animation: rotateX3D 6s ease-in-out infinite;
  animation-delay: 1s;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotateY3D 3s ease-in infinite both;
}

.shape {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  z-index: -1;
  background-color: #212121;
}

.shape div {
  display: block;
  position: absolute;
  text-align: center;
}

.container:nth-child(2) .f::after,
.container:nth-child(3) .f::after {
  position: absolute;
  content: '';
  width: 100%;
  z-index: -1;
  height: 20px;
  background-image: radial-gradient(#54ff6e 2px, transparent 1%);
  background-size: 20px 5px;
  left: 0;
  top: 20%;
  border: 0;
  animation: animMove 2s linear infinite alternate-reverse;
  overflow: hidden;
}

.container:nth-child(2) .f::before,
.container:nth-child(3) .f::before {
  position: absolute;
  content: '';
  width: 85%;
  z-index: -1;
  height: 20px;
  left: 0;
  top: 20%;
  border: 0;
  background: #181818;
  border: 2px solid #52c5ff;
  overflow: hidden;
}

.container:nth-child(1),
.container:nth-child(4) {
  & .f::before,
  & .r::before,
  & .l::before {
    position: absolute;
  content: '';
  width: 95%;
  height: 5px;
  left: 0;
  top: 25%;
  border: 1px solid #52c5ff;
  overflow: hidden;
}
}

.container:nth-child(1) .b::before,
.container:nth-child(4) .b::before {
  position: absolute;
  content: '';
  width: 95%;
  z-index: -1;
  height: 5px;
  left: 0;
  top: 69%;
  border: 0;
  border: 1px solid #52c5ff;
  overflow: hidden;
}

.f {
  transform: rotateY(0deg) translateZ(15px);
  border-radius: 2px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.b {
  transform: rotateX(180deg) translateZ(15px);
  border-radius: 2px;
}

.f,.b {
  width: 30px;
  height: 100px;
  background: #212121;
  box-shadow: inset 0 0 0 2px #52c5ff;
  border: 2px solid #52c5ff;
}

.l {
  transform: rotateY(-90deg) translateZ(0px);
  border-radius: 2px;
}

.r {
  transform: rotateY(90deg) translateZ(-30px);
  border-radius: 2px;
}

.l,.r {
  width: 30px;
  height: 100px;
  left: 15px;
  position: relative;
  z-index: -1;
  background: #212121;
  box-shadow: inset 0 0 0 2px #52c5ff;
  border: 2px solid #52c5ff;
}

.t {
  transform: rotateX(90deg) translateZ(40px);
  border-radius: 2px;
}

.bot {
  transform: rotateX(-90deg) translateZ(60px);
  border-radius: 2px;
}

.t,.bot {
  width: 30px;
  height: 30px;
  top: 25px;
  position: relative;
  z-index: -1;
  background: #212121;
  box-shadow: inset 0 0 0 2px #52c5ff;
  border: 2px solid #52c5ff;
}

@keyframes rotateY3D {
  0% {
    transform: translateZ(0px) rotateX(0);
  }

  50% {
    transform: translateZ(0px) rotateX(-360deg);
  }

  100% {
    transform: translateZ(0px) rotateX(-360deg);
  }
}

@keyframes rotateX3D {
  0% {
    transform: translateX(0px) rotateY(0);
  }

  50% {
    transform: translateX(0px) rotateY(180deg);
  }

  100% {
    transform: translateX(0px) rotateY(360deg);
  }
}

@keyframes animMove {
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(-10px);
  }
}

